.todoNote {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border: solid 2px;
  border-radius: 15px;
  margin: 5px;
  min-height: 30px;
  overflow: hidden;
}

.todoNoteDragging {
  /* background-color: transparent; */
  opacity: 0.2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border: solid 2px;
  border-radius: 15px;
  margin: 5px;
  min-height: 30px;
  overflow: hidden;
}