.taskHeader {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif
}

.container input {
  font-family: Arial, Helvetica, sans-serif
}

.container .input-group-append button {
  font-family: Arial, Helvetica, sans-serif
}